@use "src/styles/colors";
@use "src/styles/fonts";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;

  height: 100%;
  padding: 6rem;
}

.title {
  font-size: 4.8rem;
  font-weight: fonts.$fw-bold;
  color: colors.$grey-50;

  & > span {
    font-weight: fonts.$fw-bold;
    color: colors.$teritary;
  }
}

.description {
  max-width: clamp(50ch, 60%, 64ch);

  font-size: 1.6rem;
  color: colors.$grey-400;
}

.loginButton {
  border: 1px solid colors.$grey-200;
  border-radius: 11px;
  padding: 0.5em 1.5em;

  background-color: colors.$grey-900;

  font-size: 1.6rem;
  color: colors.$grey-200;

  &:hover {
    background-color: colors.$grey-800;
  }
}
