@use "styles/colors";
@use "styles/fonts";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

:root {
  background-color: colors.$grey-900;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  font-family: fonts.$font-stack;
  font-weight: fonts.$fw-regular;
  color: colors.$grey-50;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  cursor: pointer;

  text-decoration: inherit;

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

input {
  border: none;
  outline: none;

  background: none;

  &::placeholder {
    color: colors.$grey-600;
  }
}
